extend default

block content
  p.
    When I was studying in college, I had lot of unanswered questions while understanding the syllabus units. Most of the unanswered questions haven't been answered till the end of the engineering college life .Because I was not provided with sufficient internet or materials to understand as well no lab facilities to explore the concept. 




  p.
    So now ,I want to create a platform for students to understand the concept and make them to explore everything. This is a small initiative for that  .
